.header {
  background-color: white;
  color: #0a2852;
}

.nav-icons {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.mobile-nav {
  display: flex;
  padding: 0;
}

.nav-links {
  display: flex;
  padding: 0;
  margin: 0;
  flex-direction: column;
}

.nav-item {
  list-style: none;
  display: flex;
  padding: 10px;
}

/* .animation {
  -webkit-animation: 4s;
} */

.link:hover {
  cursor: pointer;
  color: #ff5c65;
}

.desktop-nav {
  display: none;
}

.icon {
  width: 30px;
  height: auto;
  display: flex;
  justify-content: flex-end;
}

@media only screen and (min-width: 768px) {
  .nav-links {
    flex-direction: row;
  }

  .nav-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .desktop-nav {
    display: flex;
  }

  .header {
    align-items: center;
    padding: 0 40px;
  }

  .icon {
    display: none;
  }

  .logo {
    font-size: 48px;
    margin: 0px;
  }

  .items {
    font-size: 24px;
  }

  .megaphone-icon {
    filter: invert(12%) sepia(33%) saturate(4397%) hue-rotate(201deg)
      brightness(83%) contrast(94%);
    height: 75px;
    width: auto;
    justify-content: center;
  }

  .text-logo {
    display: flex;
    align-items: center;
  }
}
