.header {
  background-color: white;
  color: #0a2852;
}

.nav-icons {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.mobile-nav {
  display: flex;
  padding: 0;
}

.nav-links {
  display: flex;
  padding: 0;
  margin: 0;
  flex-direction: column;
}

.nav-item {
  list-style: none;
  display: flex;
  padding: 10px;
}

.link:hover {
  cursor: pointer;
  color: #ff5c65;
}

.desktop-nav {
  display: none;
}

.icon {
  width: 30px;
  height: auto;
  display: flex;
  justify-content: flex-end;
}

@media only screen and (min-width: 768px) {
  .nav-links {
    flex-direction: row;
  }

  .desktop-nav {
    display: flex;
  }

  .header {
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .icon {
    display: none;
  }
}
