<div>
  <li class="card">
    <img src="{{ repRef.photoUrl }}" alt="" class="image" />

    <p class="text">{{ repRef.name }}</p>
    <p class="text">{{ repRef.titles }}</p>
    <p class="text">{{ repRef.party }}</p>
    <div>
      <button class="showBtn btn" (click)="addFavorite(repRef)">
        Favorite
      </button>
      <button
        *ngIf="showReps === false"
        (click)="toggleCard()"
        class="showBtn btn"
      >
        See More
      </button>
      <button (click)="toggleForm()" class="btn">Contact</button>
    </div>
  </li>
</div>
<div *ngIf="showReps === true" class="card-container">
  <div class="rep-card">
    <button class="btnx" (click)="toggleCard()">X</button>

    <div class="rep">
      <img src="{{ repRef.photoUrl }}" alt="" class="image" />
      <p class="label">{{ repRef.name }}</p>
      <p class="label">{{ repRef.titles }}</p>
      <p class="label">{{ repRef.party }}</p>

      <a href="tel:{{ repRef.phones }}">{{ repRef.phones }}</a>
      <a href="mailto: {{ repRef.emails }}?Subject=Hello&body=what's up">{{
        repRef.emails
      }}</a>

      <a href="{{ repRef.urls }}" class="website">Website</a>
      <a
        href="https://www.{{ repRef.channels[0].type }}.com/{{
          repRef.channels[0].id
        }}"
        >{{ repRef.channels[0].type }}</a
      >
      <a
        href="https://www.{{ repRef.channels[1].type }}.com/{{
          repRef.channels[1].id
        }}"
        >{{ repRef.channels[1].type }}</a
      >
    </div>
  </div>
</div>
<div *ngIf="showForm === true" class="form-container">
  <form #contactInput="ngForm" (ngSubmit)="submit(contactInput)">
    <label for="email">Enter your Email:</label>
    <input type="text" name="email" id="email" ngModel />
    <label for="subject">Subject:</label>
    <input type="text" name="subject" id="subject" ngModel />
    <label for="body">Message:</label>
    <input type="text" name="body" id="body" ngModel />
    <button (click)="checkMessage()">Done</button>
  </form>
</div>
<div *ngIf="showMessage === true">
  <p>{{ repRef.emails }}</p>
  <p>{{ email }}</p>
  <p>{{ emailSubject }}</p>
  <p>{{ emailBody }}</p>

  <a
    href="mailto: {{ repRef.emails }}?Subject={{ emailSubject }}&body={{
      emailBody
    }}"
    >Send</a
  >
</div>
