<div>
  <li class="card">
    <img src="{{ repRef.photoUrl }}" alt="" class="image" />

    <p class="text">{{ repRef.name }}</p>
    <p class="text">{{ repRef.titles }}</p>
    <p class="text">{{ repRef.party }}</p>
    <div>
      <button
        class="showBtn btn"
        [ngClass]="{
          'original-btn': toggle === false,
          'change-btn': toggle === true
        }"
        (click)="addFavorite(repRef)"
      >
        Favorite
      </button>
      <button
        *ngIf="showReps === false"
        (click)="toggleCard()"
        class="showBtn btn"
      >
        See More
      </button>
      <button (click)="toggleForm()" class="btn">Contact</button>
    </div>
  </li>
</div>
<div *ngIf="showReps === true" class="card-container">
  <div class="rep-card">
    <button class="btnx" (click)="toggleCard()">X</button>

    <div class="rep">
      <img src="{{ repRef.photoUrl }}" alt="" class="image" />
      <p class="label">{{ repRef.name }}</p>
      <p class="label">{{ repRef.titles }}</p>
      <p class="label">{{ repRef.party }}</p>

      <a href="tel:{{ repRef.phones }}">{{ repRef.phones }}</a>
      <a href="mailto: {{ repRef.emails }}">{{ repRef.emails }}</a>

      <a href="{{ repRef.urls }}" class="website">Website</a>
      <a
        *ngIf="facebook === true"
        href="https://www.{{ repRef.channels[0].type }}.com/{{
          repRef.channels[0].id
        }}"
        target="_blank"
        ><img
          *ngIf="facebook === true"
          class="icon facebook"
          src="../assets/facebook-black.png"
          alt="facebook-icon"
      /></a>
      <a
        *ngIf="twitter === true"
        href="https://www.{{ repRef.channels[1].type }}.com/{{
          repRef.channels[1].id
        }}"
        target="_blank"
      >
        <img
          *ngIf="twitter === true"
          class="icon twitter"
          src="../assets/twitter-black.png"
          alt="Twitter icon"
        />
      </a>
    </div>
  </div>
</div>
<div *ngIf="showForm === true" class="card-container">
  <div class="form-container">
    <button (click)="toggleForm()" class="b">X</button>
    <form
      #contactInput="ngForm"
      (ngSubmit)="submit(contactInput)"
      class="form"
      id="msg-form"
    >
      <label class="item" for="email">Enter your Email:</label>
      <input class="item" type="text" name="email" id="email" ngModel />
      <label class="item" for="subject">Subject:</label>
      <input class="item" type="text" name="subject" id="subject" ngModel />
      <label class="item" for="body">Message:</label>

      <textarea
        class="item"
        rows="8"
        cols="50"
        name="body"
        form="msg-form"
        ngModel
      >
Enter text here...</textarea
      >
      <button (click)="checkMessage()" class="btn">Review Message</button>
    </form>
  </div>
</div>
<div *ngIf="showMessage === true" class="card-container">
  <div class="msg-container">
    <button (click)="checkMessage()" class="b">Back</button>
    <div class="check-message">
      <p class="item">Your Email:</p>
      <p class="item">{{ email }}</p>
      <p class="item">Recipient Email:</p>
      <p class="item">{{ repRef.emails }}</p>
      <p class="item">Subject:</p>
      <p class="item">{{ emailSubject }}</p>
      <p class="item">Message:</p>
      <p class="item">{{ emailBody }}</p>
      <div class="item send">
        <a
          (click)="send()"
          href="mailto: {{ repRef.emails }}?Subject={{ emailSubject }}&body={{
            emailBody
          }}"
          >Send</a
        >
      </div>
    </div>
  </div>
</div>
