.card {
  border: 1px solid black;
  text-decoration: none;
  list-style: none;
  background-color: #0a2852;
  color: white;
  width: 40%;
}

.image {
  height: 150px;
  width: auto;
}

a:visited {
  color: #0a2852;
}
.card-container {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.rep-card {
  background-color: white;
  color: #0a2852;
  padding: 10px;
  margin: 15px;
  border: 1px solid #393d3f;
  border-radius: 5px;
}
