body {
  background-color: #0a2852;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
}

.intro {
  display: flex;
  justify-content: center;
  font-size: 24px;
  margin: 5px;
  text-align: center;
}

.about-card {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: flex-start;
}

.photos {
  height: 300px;
  width: 250px;
  border-radius: 10%;
  display: flex;
}

.cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.icons {
  display: flex;
  flex-direction: row;
}

.linkedin {
  height: 30px;
  width: auto;
}

.github {
  height: 30px;
  width: auto;
  padding-left: 10px;
}

.bio {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  justify-content: flex-start;
}

.name {
  font-size: 24px;
  font-style: italic;
  display: flex;
  margin: 0;
}

.bio {
  font-size: 18px;
  display: flex;
}

.description {
  display: flex;
  margin: 2px;
  margin-bottom: 5px;
}

@media only screen and (min-width: 768px) {
  .photos {
    height: 400px;
    width: 333px;
    border-radius: 10%;
  }

  .cards {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .intro {
    font-size: 36px;
  }

  body {
    height: 100vh;
  }
}
