<app-header></app-header>
<body>
  <div class="intro">Get to know the creators of Megaphone!</div>

  <div class="cards">
    <div class="about-card">
      <img class="photos" src="../assets/shawna.png" alt="photo of Shawna" />
      <div class="bio">
        <p class="name">Shawna Walker</p>
        <!-- <p class="description">I'm a Westland based developer.</p> -->
        <div class="icons">
          <a
            href="https://www.linkedin.com/in/shawnawalkermba/"
            target="_blank"
          >
            <img
              class="linkedin"
              src="../assets/linkedin.png"
              alt="linkedin icon"
            />
          </a>
          <a href="https://github.com/sewalker88" target="_blank">
            <img class="github" src="../assets/github.png" alt="github icon" />
          </a>
        </div>
      </div>
    </div>

    <div class="about-card">
      <img class="photos" src="../assets/amanda.png" alt="photo of Amanda" />
      <div class="bio">
        <p class="name">Amanda Armbruster</p>

        <p class="description"></p>
        <div class="icons">
          <a
            href="https://www.linkedin.com/in/amanda-armbruster-8843061b2/"
            target="_blank"
          >
            <img
              class="linkedin"
              src="../assets/linkedin.png"
              alt="linkedin icon"
            />
          </a>
          <a href="https://github.com/amanda-armbruster" target="_blank">
            <img class="github" src="../assets/github.png" alt="github icon" />
          </a>
        </div>
      </div>
    </div>

    <div class="about-card">
      <img class="photos" src="../assets/toby.png" alt="photo of Toby" />
      <div class="bio">
        <p class="name">Toby Prafke</p>

        <p class="description"></p>
        <div class="icons">
          <a href="http://www.linkedin.com/in/toby-prafke" target="_blank">
            <img
              class="linkedin"
              src="../assets/linkedin.png"
              alt="linkedin icon"
            />
          </a>
          <a href="https://github.com/Tprafke" target="_blank">
            <img class="github" src="../assets/github.png" alt="github icon" />
          </a>
        </div>
      </div>
    </div>

    <div class="about-card">
      <img class="photos" src="../assets/garret.png" alt="photo of Garret" />
      <div class="bio">
        <p class="name">Garret LaBeff-Cabello</p>
        <p class="description">
          <!-- I'm a Grand Rapids based front end developer and photographer. When
          I'm not coding, I'm probably playing music or drinking coffee! -->
        </p>
        <div class="icons">
          <a href="https://www.linkedin.com/in/garretjustus/" target="_blank">
            <img
              class="linkedin"
              src="../assets/linkedin.png"
              alt="linkedin icon"
            />
          </a>
          <a href="https://github.com/garretlbc" target="_blank">
            <img class="github" src="../assets/github.png" alt="github icon" />
          </a>
        </div>
      </div>
    </div>
  </div>
</body>
