.card {
  border: 1px solid black;
  text-decoration: none;
  list-style: none;
  color: #0a2852;
}
a:visited {
  color: #0a2852;
}

.image {
  height: 150px;
  width: auto;
}

.website {
  color: #0a2852;
}

.btn {
  border-radius: 5px;
  border-style: none;
  background-color: #ff5c65;
  color: white;
  padding: 5px;
  margin: 5px;
  font-family: "Open Sans", sans-serif;
}
