<li class="card">
  <img src="{{ favoriteRef.photoUrl }}" class="image" />
  <p class="label">{{ favoriteRef.name }}</p>
  <p class="label">{{ favoriteRef.titles }}</p>
  <div class="btn-container">
    <button
      *ngIf="showReps === false"
      (click)="toggleCard()"
      class="showBtn btn"
    >
      See More
    </button>
    <button class="btn" (click)="deleteFavorite()">Remove</button>
  </div>
</li>
<div *ngIf="showReps === true" class="card-container">
  <div class="rep-card">
    <button class="btnx" (click)="toggleCard()">X</button>
    <div class="rep">
      <img src="{{ favoriteRef.photoUrl }}" alt="" class="image" />
      <p class="label">{{ favoriteRef.name }}</p>
      <p class="label">{{ favoriteRef.titles }}</p>
      <p class="label">{{ favoriteRef.party }}</p>
      <a href="tel:{{ favoriteRef.phones }}">{{ favoriteRef.phones }}</a>
      <a href="mailto: {{ favoriteRef.emails }}?Subject=Hello&body=what's up">{{
        favoriteRef.emails
      }}</a>
      <a href="{{ favoriteRef.urls }}" class="website">Website</a>
      <a
        href="https://www.{{ favoriteRef.channels[0].type }}.com/{{
          favoriteRef.channels[0].id
        }}"
        >{{ favoriteRef.channels[0].type }}</a
      >
      <a
        href="https://www.{{ favoriteRef.channels[1].type }}.com/{{
          favoriteRef.channels[1].id
        }}"
        >{{ favoriteRef.channels[1].type }}</a
      >
    </div>
  </div>
</div>
