<li class="card">
  <img src="{{ favoriteRef.photoUrl }}" class="image" />
  <p class="label">{{ favoriteRef.name }}</p>
  <p class="label">{{ favoriteRef.titles }}</p>
  <div class="btn-container">
    <button
      *ngIf="showReps === false"
      (click)="toggleCard()"
      class="showBtn btn"
    >
      See More
    </button>
    <button class="btn" (click)="deleteFavorite()">Remove</button>
  </div>
</li>
<div *ngIf="showReps === true" class="card-container">
  <div class="rep-card">
    <button class="btnx" (click)="toggleCard()">X</button>
    <div class="rep">
      <img src="{{ favoriteRef.photoUrl }}" alt="" class="image" />
      <p class="label">{{ favoriteRef.name }}</p>
      <p class="label">{{ favoriteRef.titles }}</p>
      <p class="label">{{ favoriteRef.party }}</p>
      <a href="tel:{{ favoriteRef.phones }}">{{ favoriteRef.phones }}</a>
      <div class="icons">
        <a href="mailto: {{ favoriteRef.emails }}"
          >{{ favoriteRef.emails }}
          <img
            src="../assets/email.png"
            alt="icon that links to email"
            class="email icon"
          />
        </a>
        <a href="{{ favoriteRef.urls }}" class="website">
          <img
            src="../assets/website.png"
            alt="icon that links to website"
            class="website icon"
          />
        </a>
        <a
          *ngIf="facebook === true"
          href="https://www.{{ favoriteRef.channels[0].type }}.com/{{
            favoriteRef.channels[0].id
          }}"
          target="_blank"
          ><img
            *ngIf="facebook === true"
            class="icon facebook"
            src="../assets/facebook.png"
            alt="facebook-icon"
        /></a>
        <a
          *ngIf="twitter === true"
          href="https://www.{{ favoriteRef.channels[1].type }}.com/{{
            favoriteRef.channels[1].id
          }}"
          target="_blank"
        >
          <img
            *ngIf="twitter === true"
            class="icon twitter"
            src="../assets/twitter.png"
            alt="Twitter icon"
          />
        </a>
      </div>
    </div>
  </div>
</div>
